.vim-container {
  width: 760px;
  margin: auto;
  margin-top: 30px;
}
.vim-select-wrapper {
  margin: 20px 0px;
}

.vim-loader-wrapper {
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
